/* Use this file to use your own styles*/

/* Import declaration to use Google Fonts - check https://fonts.google.com/ for details */
@import url('https://fonts.google.com/specimen/Black+Han+Sans#standard-styles');

/* Styles for the body */

body {
	font-family: Lato, Baskerville, 'Gill Sans', 'Gill Sans MT', 'Myriad Pro', 'DejaVu Sans Condensed', Helvetica, Arial, 'sans-serif'Palatino, 'Century Schoolbook L', 'Times New Roman', 'serif'Roboto, "Segoe UI", "Helvetica Neue", Helvetica, Arial, sans-serif;
	color: #202030;
	background-color: #f8f8fc;
}
header  { font-family: 'Black Han Sans', sans-serif;
font-family: 'Cormorant SC', serif;


}	

/* Styles for custom classes in the document. (There are more, try to find them out!) */

.resume-header {
    background-color: #0D0D0D;
	color: #FFFFFF;
			
}

.resume-main {
	background-color: #fffefc;
	font-family: 'Cormorant SC', serif;
	
}

.resume-aside {
	background-color: #404040;
	color: #FFFFFF; 
	
}

/* Styles for lists in the document */


.biography-details li::before, .skill-list li::before {
	content: ">";
	font-weight: 800;
	display: inline-block;
	width: 1em;
	margin-left: -1em;
}

.biography-details li::before {
	color: #FAD49F;
}

.biography-details li, .skill-list li {
	padding-left: 1em;
}

/* Styles for contact icons */

.contact-icon {
	height: 1em;
	flex-basis: 1.4em;
}
